.splash div.module,
.logged-in .splash div.module {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  width: 80%;
}

#header {
  background-color: var(--sischeader);
  background-image: linear-gradient(to right, rgba(4, 21, 45,0.9) 50%, rgba(4, 21, 45,0)), url("https://i.postimg.cc/Xv2Tg6Nr/Untitled327-20260826150535.png") !important;
  background-repeat: no-repeat, repeat;
  background-size: contain, 30%;
}

#header .heading a {
  padding: 0.2em 0.6em;
  color: var(--siscaccent2);
  line-height: 1.3;
}

#header .heading a span {
  font-size: 2rem;
}

#header .heading a::before {
  font-size: 2rem;
}

#header .heading a::after {
  font-size: 2rem;
}
